*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #383B42;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.nav-bar{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem;
    height: 74px;
    background-color: #5970C1;
}

.logo{
   height: 74px; 
}
.nav-bar button{
    cursor: pointer;
    height: 41px;
    border: none;
    background-color: transparent;
}
canvas{
    display: block;
    margin: 0 auto;
}

.canvas-container{
    display: none;
    background-color: deepskyblue;
    margin: 0 auto;
    width: 450px;
    height: 700px;
}
.grid-container{
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: repeat(auto-fill,174px);
    grid-auto-rows: 174px;
}
/* .main-editor{
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: ;
} */

.main-layout{
max-width: 970px;
margin: 0 auto;
}