ody{
    margin: 0;
    /* height: 100vh; */
}

canvas{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.canvas-container{
    background-color: deepskyblue;
    margin: 0 auto;
    /* padding: 20px; */
    width: 90vw;
    height: 90vh;
    border: 1px solid red;
}